{% block navbar %}
    <div class="left-side-menu">
        <div class="user-box">
            <div class="float-left">
                <img src="{{ asset('assets/images/users/avatar-2.jpg') }}" alt="" class="avatar-md rounded-circle">
            </div>
            <div class="user-info">
                <a href="#">Haithem</a>
                <p class="text-muted m-0">Administrator</p>
            </div>
        </div>
        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Menu</li>

                <li>
                    <a href="{{ path('admin_index') }}">
                        <i class="ti-home"></i>
                        <span> Home </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="ion-md-bus"></i>
                        <span class="col-lg-2"> Gestion Trasnport </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">

                        <li><a href="{{ path('transport_index') }} ">
                                <i class="far fa-list-alt"></i>
                                <span class="col-lg-2">Liste Tranports</span>
                            </a></li>

                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="far fa-address-card"></i>
                        <span class="col-lg-2"> Gestion Chauffeur </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="{{ path('employee_index') }}"><i class="fas fa-users-cog"></i><span class="col-lg-2">Liste Chauffeur</span> </a></li>
                        <li><a href="{{ path('calendar') }}"><i class="far fa-calendar-alt"></i><span class="col-lg-2">Calendrier</span></a></li>
                    </ul>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->
        <div class="clearfix"></div>
    </div>
{% endblock %}