<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="{{ path('enrigistrer_abn') }}">
    {% for c in getidabn %}
        {{ c.id }}
        {{ c.description }}
        {{ c.type }}
        {{ c.prix * nbrenf }}
    {% endfor %}
    <input type="submit" value="Enregistrer">
</form>
</body>
</html>