<form action="{{ path('enrigistrer_abn') }}" method="post">

    <input  type="text" value="{{ ko.id }}" name="id">
    <input  type="text" value="{{ ko.type }}" name="type">
    <input  type="text" value="{{ ko.description }}" name="description">
    <input   name="prix" type="text" value="{{ ko.prix }}">
    <select name="enfant">
    {% for e in enf %}
    <option value="{{ e.id }}" name="{{ e.id }}">{{ e.nom }}</option>
    {% endfor %}
</select>
        <input type="submit">Acheter</input>
</form>