{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/css/fullcalendar/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap-fullcalendar.css') }}" />
{% endblock %}
{% block body %}
    <div class="content-page">
        <div class="content" style="background: white">
            <h1>emploi du temps : </h1>


            {%  include '@FullCalendar/Calendar/calendar.html.twig' %}


        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/fullcalendar/fullcalendar.default-settings.js') }}"></script>

{% endblock %}